# 03
03_Visualization Project/data
03_Visualization Project/야구 프로젝트
03_Visualization Project/malgun.ttf

# 05
05_Public data Project/image_result

# 10
10_SQL Projcet/maptest.html
10_SQL Projcet/data

# 11
11_Flask Project/data
11_Flask Project/model